kwt

*.d
*.o
*.ko
*.obj
*.elf

*.ilk
*.map
*.exp

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su
*.idb
*.pdb

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.DS_Store
.AppleDouble
.LSOverride